@import './color.scss';

@import './library.scss';


body{
    overflow-x:hidden;
    width: 100%;
    .loader{
        width: 100vw;
        height:100vh;
        position:absolute;
        background-color: $secondry-bg-color;
        z-index: 12;
        overflow:hidden;
        justify-content: center;
        align-items: center;
        .loader_circle{
            margin:auto;
            margin-top:40vh;
            border: 16px solid $white;
            border-radius: 50%;
            border-top: 16px solid $main-bg-color;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 1s linear
             infinite;
        }
       

        @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); 

        }
        }

        .loader_line{
            color:$white;
            text-align: center;
            margin:1rem;
        }
    }

    //navbar section
    .navbar-section{
        border-bottom:4px solid white;
        box-shadow: 0px 2px 2px rgb(112, 112, 112);
        position:sticky;
        top:0;
        @include display_as_row_space_between;
       background-color: $main-bg-color;
       .logo{
           color:white;
           font-size: 25px;
            img{
                width:100px;
                margin-left: 15px;
            }
       }
       .navbar{
         background-color: $main-bg-color;
         a{
             color:white;
             &:hover{
                 background:$secondry-bg-color;
             }
         }
        
       }
    }

    //Hero section
    #hero{
        @include display_as_column_center;
        text-align: center;
        padding: 2rem;
        background:$light-gray;
        img{
            border-radius: 50%;
            border: 12px solid $white;
            box-shadow: 5px 5px 10px $light-black;
        }
        .about{
            p{
                font-size: 20px;
            }
            #name{
                font-weight: 600;
                font-size: 30px;
            }
            #pos{
                color:$main-bg-color;
            }
        }
    }


    //Skills section
    #skills{
        background : $main-bg-color;
        padding:3rem 1rem;
        h1{
            text-align: center;
            color:$white;
            width:100vw;
            text-decoration: underline;
        }

       
        #hardSkills{
            #pl{
                @include display_as_row_center;
                flex-wrap: wrap;
                .plSkill{
                    background: $light-gray;
                    padding:1rem;
                    margin:1.5rem;
                    #main{
                        text-align: center;
                        font-weight: 600;
                    }
                    #secondry{
                        @include display_as_row_center;
                        flex-wrap: wrap;
                        span{
                            @include display_as_row_center;
                            list-style: none;
                            margin:10px;
                            background:$white;
                            padding:1rem;
                            border-radius: 5px;
                            box-shadow: 2px 2px 20px $light-black;
                            li{
                                margin-left:5px;
                            }
                            img{
                                width:35px;
                                height: 35px;
                            }
                        }
                    }
                    
                }
            }
        }

        #softSkills{
            color:$black;
            background:$white;
            padding:1rem;
            @include display_as_row_center;
            flex-wrap: wrap;
            text-align: left;
            list-style: none;
            margin:4px;
            li{
                margin: 0.5rem 1rem;
            }
        }
    }

    //Project section
    #projects{
        padding:3rem 1rem;
        @include display_as_row_center;
        flex-wrap: wrap;
        background:$light-gray;
        h1{
           text-align: center;
           text-decoration: underline
        }
        section{
            @include display_as_row_center;
            flex-wrap: wrap;
            .project{
                padding:1rem;
                margin:2rem;
                width:500px;
                background:$main-bg-color;
                color:$white;
                border: 13px solid $white;
            @include display_as_row;
            .info{
                .name{
                    color:$yellow;
                    font-size: 25px;
                    font-weight: 500;
                    text-decoration: underline;
                }
                .technology{
                    background: $secondry-bg-color;
                    padding:0.5rem 1rem;
                    margin:1rem;
                    font-size: 15px;
                }
                .technology span{
                    color:$yellow
                }
                a{
                    text-decoration: none;
                    color:$white;
                    background:$blue;
                    padding: 0.2rem 1rem;
                    border-radius: 10px;
                }
            }
            .thumbnail{
                img{
                    width:200px;
                }
            }
       }
       }
    }
    //Message us section
    #message{
        @include display_as_column_center;
        padding:3rem 1rem;
        h1{
            text-align: center;
        }
        form{
            width:600px;
            margin:1rem;
            padding:2rem;
            border:3px solid $main-bg-color;
            background:$light-gray;
            @include display_as_column_center;
            .info{
                @include display_as_row_center;
                flex-wrap: wrap;
                .name, .email{
                    @include display_as_column;
                    margin:5px;
                }
                input{
                    width: 200px;
                    height:26px;
                    border-radius:5px;
                    border:0;
                    outline:0;
                    &:focus{
                        border:2px solid $secondry-bg-color;
                        box-shadow: 0.1px 0.1px 5px 0px $secondry-bg-color;
                        outline:$main-bg-color;

                    }
                }
               
            }
            .message{
                @include display_as_column;
                textarea{
                    width:400px;
                    border-radius:5px;
                    border:0;
                    outline:0;
                    &:focus{
                        border:2px solid $secondry-bg-color;
                        box-shadow: 0.1px 0.1px 5px 0px $secondry-bg-color;
                        outline:$main-bg-color;

                    }
                }
               
            }
            .button{
                background:$main-bg-color;
                color:white;
                border:none;
                outline:none;
                margin:1rem;
                padding:0.5rem 1rem;
            }
        }
    }

    //social media section
    #social_media{
        background-color: $secondry-bg-color;
        @include display_as_row_end;
        padding:0.3rem;


        a{
            @include display_as_row_end;
            text-decoration: none;
            background:$white;
            color:$black;
            margin-left: 5px;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
            i{
                font-size: 15px;
                margin-right:3px;
            }
            
            p{
                font-size: 9px;
            }
        }
    }
    @media(max-width : 740px){
        body{
           display:none;
        }
        #social_media{
            p{
                display:none;
            }
        }
        .navbar-section{
            
            .items{
                width:300px;
                background:$main-bg-color;
            }
            .dropdown {
                .stick{
                    background:white !important;
            }
            }
        }
       
        #hero{
            #photo{
                img{
                    width:150px;
                    height:150px;
                    border: 8px solid white;
                }
            }
            .about{
                #name{
                    font-size: 22px;
                }
                p{
                    font-size: 18px;
                }
            }
        }
        #skills{
            .skills_header{
                font-size: 25px;
            }
            #hardSkills{
                #pl{
                    .plSkill{
                        margin:0.5rem;
                        padding:0.5rem;
                        #secondry{
                            span{
                                li{
                                    display:none;
                                }
                            }
                        }
                    }
                }
            }
        }
        #projects{
            section{
                .project{
                    text-align: center;
                    flex-wrap: wrap;
                    width:90vw;
                    flex-direction: column;
                    align-items: center;
                    justify-content:center;
                    .info{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        a{
                            margin:10px;
                        }
                    }
                }
            }
        }
        #message{
            width:100vw;
            h1{
                font-size: 25px;
            }
            form{
                width: 100vw;
                .info{
                    .name, .email{
                        width: 300px;
                    }
                }
                .message{
                    textarea{
                        width:300px
                    }
                }
            }
        }
        
    }
}



