@media only screen and (max-width: 640px) {
  body #message {
    padding: 2rem 0rem 2rem 0rem !important;
  }
  body #message .message__form {
    width: 100% !important;
    margin: 1rem 0rem 1rem 0rem !important;
    padding: 2rem 0rem 2rem 0rem !important;
  }
  body #message .message__form .message textarea {
    width: 250px !important;
  }
}
body {
  overflow-x: hidden;
  width: 100%;
}
body .loader {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #770381;
  z-index: 12;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
body .loader .loader_circle {
  margin: auto;
  margin-top: 40vh;
  border: 16px solid white;
  border-radius: 50%;
  border-top: 16px solid #00203FFF;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body .loader .loader_line {
  color: white;
  text-align: center;
  margin: 1rem;
}
body .navbar-section {
  border-bottom: 4px solid white;
  box-shadow: 0px 2px 2px #707070;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #00203FFF;
}
body .navbar-section .logo {
  color: white;
  font-size: 25px;
}
body .navbar-section .logo img {
  width: 50px;
  margin-left: 15px;
}
body .navbar-section .navbar {
  background-color: #00203FFF;
}
body .navbar-section .navbar a {
  color: white;
}
body .navbar-section .navbar a:hover {
  background: #770381;
}
body #hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  background: #cccaca;
}
body #hero img {
  border-radius: 50%;
  border: 12px solid white;
  box-shadow: 5px 5px 10px #cccccc;
}
body #hero .about p {
  font-size: 20px;
}
body #hero .about #name {
  font-weight: 600;
  font-size: 30px;
}
body #hero .about #pos {
  color: #00203FFF;
}
body #skills {
  background: #00203FFF;
  padding: 3rem 1rem;
}
body #skills h1 {
  text-align: center;
  color: white;
  width: 100vw;
  text-decoration: underline;
}
body #skills #hardSkills #pl {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
body #skills #hardSkills #pl .plSkill {
  background: #cccaca;
  padding: 1rem;
  margin: 1.5rem;
}
body #skills #hardSkills #pl .plSkill #main {
  text-align: center;
  font-weight: 600;
}
body #skills #hardSkills #pl .plSkill #secondry {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
body #skills #hardSkills #pl .plSkill #secondry span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 10px;
  background: white;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 2px 2px 20px #cccccc;
}
body #skills #hardSkills #pl .plSkill #secondry span li {
  margin-left: 5px;
}
body #skills #hardSkills #pl .plSkill #secondry span img {
  width: 35px;
  height: 35px;
}
body #skills #softSkills {
  color: black;
  background: white;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: left;
  list-style: none;
  margin: 4px;
}
body #skills #softSkills li {
  margin: 0.5rem 1rem;
}
body #projects {
  padding: 3rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #cccaca;
}
body #projects h1 {
  text-align: center;
  text-decoration: underline;
}
body #projects section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
body #projects section .project {
  padding: 1rem;
  margin: 2rem;
  width: 500px;
  background: #00203FFF;
  color: white;
  border: 13px solid white;
  display: flex;
  flex-direction: row;
}
body #projects section .project .info .name {
  color: #e7bd02;
  font-size: 25px;
  font-weight: 500;
  text-decoration: underline;
}
body #projects section .project .info .technology {
  background: #770381;
  padding: 0.5rem 1rem;
  margin: 1rem;
  font-size: 15px;
}
body #projects section .project .info .technology span {
  color: #e7bd02;
}
body #projects section .project .info a {
  text-decoration: none;
  color: white;
  background: #125dff;
  padding: 0.2rem 1rem;
  border-radius: 10px;
}
body #projects section .project .thumbnail img {
  width: 200px;
}
body #message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
}
body #message h1 {
  text-align: center;
}
body #message .message__form {
  width: 600px;
  margin: 1rem;
  padding: 2rem;
  border: 3px solid #00203FFF;
  background: #cccaca;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body #message .message__form .info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
body #message .message__form .info .name, body #message .message__form .info .email {
  display: flex;
  flex-direction: column;
  margin: 5px;
}
body #message .message__form .info input {
  width: 200px;
  height: 26px;
  border-radius: 5px;
  border: 0;
  outline: 0;
}
body #message .message__form .info input:focus {
  border: 2px solid #770381;
  box-shadow: 0.1px 0.1px 5px 0px #770381;
  outline: #00203FFF;
}
body #message .message__form .message {
  display: flex;
  flex-direction: column;
}
body #message .message__form .message textarea {
  width: 400px;
  border-radius: 5px;
  border: 0;
  outline: 0;
}
body #message .message__form .message textarea:focus {
  border: 2px solid #770381;
  box-shadow: 0.1px 0.1px 5px 0px #770381;
  outline: #00203FFF;
}
body #message .message__form .button {
  background: #00203FFF;
  color: white;
  border: none;
  outline: none;
  margin: 1rem;
  padding: 0.5rem 1rem;
}
body #social_media {
  background-color: #770381;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0.3rem;
}
body #social_media a {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  background: white;
  color: black;
  margin-left: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
body #social_media a i {
  font-size: 15px;
  margin-right: 3px;
}
body #social_media a p {
  font-size: 9px;
}
@media (max-width: 740px) {
  body body {
    display: none;
  }
  body #social_media p {
    display: none;
  }
  body .navbar-section .items {
    width: 300px;
    background: #00203FFF;
  }
  body .navbar-section .dropdown .stick {
    background: white !important;
  }
  body #hero #photo img {
    width: 150px;
    height: 150px;
    border: 8px solid white;
  }
  body #hero .about #name {
    font-size: 22px;
  }
  body #hero .about p {
    font-size: 18px;
  }
  body #skills .skills_header {
    font-size: 25px;
  }
  body #skills #hardSkills #pl .plSkill {
    margin: 0.5rem;
    padding: 0.5rem;
  }
  body #skills #hardSkills #pl .plSkill #secondry span li {
    display: none;
  }
  body #projects section .project {
    text-align: center;
    flex-wrap: wrap;
    width: 90vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body #projects section .project .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body #projects section .project .info a {
    margin: 10px;
  }
  body #message {
    width: 100vw;
  }
  body #message h1 {
    font-size: 25px;
  }
  body #message form {
    width: 100vw;
  }
  body #message form .info .name, body #message form .info .email {
    width: 300px;
  }
  body #message form .message textarea {
    width: 300px;
  }
}

/*# sourceMappingURL=app.css.map */
