@import './color.scss';

@import './library.scss';

body{
    width: 100%;
    //navbar section
    .navbar{
        @include display_as_row_space_between;    
        background: $main-bg-color;
        color:$white;
        padding:0.5rem;
        .logo p{
            font-size: 25px;
        }
        .nav{
            @include display_as_row_end;
            a{
                font-size: 15px;
                color:$white;
                margin-right:15px;
                text-decoration: none;
            }
        }
    }

    //Hero section
    #hero{
        @include display_as_column_center;
        text-align: center;
        padding: 2rem;
        background:$light-gray;
        img{
            border-radius: 50%;
            border: 12px solid $white;
            box-shadow: 5px 5px 10px $light-black;
        }
        .about{
            p{
                font-size: 20px;
            }
            #name{
                font-weight: 600;
                font-size: 30px;
            }
            #pos{
                color:$main-bg-color;
            }
        }
    }


    //Skills section
    #skills{
        background : $main-bg-color;
        padding:1rem;
        h1{
            text-align: center;
            color:$white;
            width:100vw;
            text-decoration: underline;
        }

       
        #hardSkills{
            #pl{
                @include display_as_row_center;
                flex-wrap: wrap;
                .plSkill{
                    background: $light-gray;
                    padding:1rem;
                    margin:1.5rem;
                    #main{
                        text-align: center;
                        font-weight: 600;
                    }
                    #secondry{
                        @include display_as_row_center;
                        flex-wrap: wrap;
                        span{
                            @include display_as_row_center;
                            list-style: none;
                            margin:10px;
                            background:$white;
                            padding:1rem;
                            border-radius: 5px;
                            box-shadow: 2px 2px 20px $light-black;
                            li{
                                margin-left:5px;
                            }
                            img{
                                width:35px;
                                height: 35px;
                            }
                        }
                    }
                    
                }
            }
        }

        #softSkills{
            color:$black;
            background:$white;
            padding:1rem;
            @include display_as_column_center;
            text-align: left;
            list-style: none;
        }
    }



    //social media section
    #social_media{
        background-color: $secondry-bg-color;
        @include display_as_row_end;
        padding:0.3rem;


        a{
            @include display_as_row_end;
            text-decoration: none;
            background:$white;
            color:$black;
            margin-left: 5px;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
            i{
                font-size: 15px;
                margin-right:3px;
            }
            
            p{
                font-size: 9px;
            }
        }
    }
}