@import './color.scss';

@import './library.scss';

body{
    width: 100%;
    //navbar section
    .navbar{
        position: sticky;
        position:-webkit-sticky;
        @include display_as_row_space_between;    
        background: $main-bg-color;
        color:$white;
        padding:0.5rem;
        .logo p{
            font-size: 25px;
        }
        .nav{
            @include display_as_row_end;
            a{
                font-size: 15px;
                color:$white;
                margin-right:15px;
                text-decoration: none;
            }
        }
    }

    //Hero section
    #hero{
        @include display_as_column_center;
        text-align: center;
        padding: 2rem;
        background:$light-gray;
        img{
            border-radius: 50%;
            border: 12px solid $white;
            box-shadow: 5px 5px 10px $light-black;
        }
        .about{
            p{
                font-size: 20px;
            }
            #name{
                font-weight: 600;
                font-size: 30px;
            }
            #pos{
                color:$main-bg-color;
            }
        }
    }


    //Skills section
    #skills{
        background : $main-bg-color;
        padding:1rem;
        h1{
            text-align: center;
            color:$white;
            width:100vw;
            text-decoration: underline;
        }

       
        #hardSkills{
            #pl{
                @include display_as_row_center;
                flex-wrap: wrap;
                .plSkill{
                    background: $light-gray;
                    padding:1rem;
                    margin:1.5rem;
                    #main{
                        text-align: center;
                        font-weight: 600;
                    }
                    #secondry{
                        @include display_as_row_center;
                        flex-wrap: wrap;
                        span{
                            @include display_as_row_center;
                            list-style: none;
                            margin:10px;
                            background:$white;
                            padding:1rem;
                            border-radius: 5px;
                            box-shadow: 2px 2px 20px $light-black;
                            li{
                                margin-left:5px;
                            }
                            img{
                                width:35px;
                                height: 35px;
                            }
                        }
                    }
                    
                }
            }
        }

        #softSkills{
            color:$black;
            background:$white;
            padding:1rem;
            @include display_as_row_center;
            flex-wrap: wrap;
            text-align: left;
            list-style: none;
            margin:4px;
            li{
                margin: 0.5rem 1rem;
            }
        }
    }

    //Project section
    #projects{
        @include display_as_row_center;
        flex-wrap: wrap;
        background:$light-gray;
        h1{
           text-align: center;
           text-decoration: underline
        }
        section{
            @include display_as_row_center;
            flex-wrap: wrap;
            .project{
                padding:1rem;
                margin:2rem;
                width:500px;
                background:$main-bg-color;
                color:$white;
                border: 13px solid $white;
            @include display_as_row;
            .info{
                .name{
                    color:$yellow;
                    font-size: 25px;
                    font-weight: 500;
                    text-decoration: underline;
                }
                .technology{
                    background: $secondry-bg-color;
                    padding:0.5rem 1rem;
                    margin:1rem;
                    font-size: 15px;
                }
                .technology span{
                    color:$yellow
                }
                a{
                    text-decoration: none;
                    color:$white;
                    background:$blue;
                    padding: 0.2rem 1rem;
                    border-radius: 10px;
                }
            }
            .thumbnail{
                img{
                    width:200px;
                }
            }
       }
       }
    }
    //Message us section
    #message{
        @include display_as_column_center;
        padding:2rem;
        h1{
            text-align: center;
        }
        form{
            width:600px;
            margin:1rem;
            padding:2rem;
            border:3px solid $main-bg-color;
            background:$light-gray;
            @include display_as_column_center;
            .info{
                @include display_as_row_center;

                .name, .email{
                    @include display_as_column;
                    margin:5px;
                }
                input{
                    width: 200px;
                }
               
            }
            .message{
                @include display_as_column;
                textarea{
                    width:400px;
                }
               
            }
            .button{
                background:$main-bg-color;
                color:white;
                border:none;
                outline:none;
                margin:1rem;
                padding:0.5rem 1rem;
            }
        }
    }

    //social media section
    #social_media{
        background-color: $secondry-bg-color;
        @include display_as_row_end;
        padding:0.3rem;


        a{
            @include display_as_row_end;
            text-decoration: none;
            background:$white;
            color:$black;
            margin-left: 5px;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
            i{
                font-size: 15px;
                margin-right:3px;
            }
            
            p{
                font-size: 9px;
            }
        }
    }
}

.fixedNavbar{
    position: fixed;
    top:0;
    padding:0.5rem;
    display:none;
}