$secondry-bg-color: rgb(234, 0, 255);
$main-bg-color : rgb(119, 3, 129);
$secondry-bg-color: rgb(88, 255, 180);
$main-bg-color : #00203FFF;
// $secondry-bg-color: #ffd942;
// $main-bg-color : #E71989;
$black-text : black;
$white-text : white;
$white : white;
$black : black;
$yellow : rgb(231, 189, 2);
$light-gray : rgb(231, 231, 231);
$light-black :rgb(204, 204, 204);
$blue : rgb(18, 93, 255);