@import './utills.scss';
body{
	.App{
			// @include display_as_row();
			.home{
					
			}
			.skills{
				display: none;
			}
			.projects{
				display:none;
			}
			.certificates{
				display: none;
			}
			

		}
}		