@import './utills.scss';
.hero{
    @include display_as_row_center();
    // max-width: 1200px;
    margin:0px auto;
    min-height: 90vh; 
    section{
        height:100%;
        color:$primary_text; 
        font-size: 25px;
        // padding:20px;
        @include  display_as_column_center();
        text-shadow: 2px 2px 5px black;
        &:nth-child(1){
            align-items: flex-start;
            // padding: 20px 20px 0px 80px;
        }
        &:nth-child(2){
           align-items:flex-start;
           margin-left:100px;
        }
        .designation{
            font-size: 40px;
         
        }

        .text-blue-500{

            color:#ff0389;
            font-weight: 500;
            // border: 3px solid $navbar_profile_pic_border;
            ;
        }
        .social_media{
            // background:$primary_background;
            padding-top:10px;
            a{
                color:$primary_text;
                padding:6px;

                &:nth-child(2){
                    color:#1877F2;
                }
                &:nth-child(3){
                    color:#0077B5;
                }
            }
            overflow: hidden;

        }
        .img_container{
            width:250px;
            height:250px; 
            // height:300px;
            overflow:hidden;
            border:10px solid $navbar_profile_pic_border;
            border-radius: 50%;
            box-shadow: 1px 1px 10px 5px rgb(0, 0, 0);
            img{
                width: 250px;
                // height:300px;
            }
        }
    }

    .about{
        background-color: rgba(0, 0, 0, 0.504);
        background: #000046;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #0000004c, #000000);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #00000018, #0000008d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
        padding:20px 30px;
        border-radius: 20px;
        max-width: 590px;
    }
}

@media only screen and (max-width:1100px){
    .hero{
        section{
            &:nth-child(1){
                flex:2;
                padding:40px;
            }
            &:nth-child(2){
                margin-left:0px;
            }
        }
    }
}
@media only screen and (max-width:850px){
    .hero{
        section{
            &:nth-child(1){
                font-size:20px;
                .designation{
                    font-size:35px;
                }
            }
            &:nth-child(2){
                .img_container{
                    width:250px;
                    height:250px;
                    img{
                        width:250px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:730px){
    .hero{
        height: auto;
        padding-top:0px;
        flex-direction:column-reverse;
        section{
            padding:0;
            &:nth-child(2){
                @include display_as_row_center();
                padding:30px; 
            }
        }
    }
}

@media only screen and (max-width:480px){
    .hero{
        section{
            
            &:nth-child(1){
                // padding:10px;
                font-size:18px;
                .designation{
                    font-size:30px;
                }
            }
            &:nth-child(2){
                padding:20px;
            }
        }
    }
}
@media only screen and (max-width:400px){
    .hero{
        section{
            
            &:nth-child(1){
                padding:15px;
                
                font-size:18px;
                .designation{
                    font-size:25px;
                }
            }
            &:nth-child(2){
                padding:40px;
                .img_container{
                    width: 200px;
                    height:200px;
                    img{
                        width:200px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:300px){
    .hero{
        section{
            
            &:nth-child(1){
                padding:15px;
                
                font-size:18px;
                .designation{
                    font-size:20px;
                }
            }
            &:nth-child(2){
                padding:40px;
                .img_container{
                    width: 200px;
                    height:200px;
                    img{
                        width:200px;
                    }
                }
            }
        }
    }
}