@use './utills' as *;

    body{
    // overflow: hidden;
        // background: red;
    .home{
        // height: 100vh;
        @include  display_as_column();
        background-color: $primary_background;
        .home_background{
            position:absolute;
            background:$dark_primary_background;
            width:100vw;
            height:100vh;
            z-index:-1;
            .triangle_at_corner{
                position: absolute;
                width:100vw;
                height:500px;
                background:$primary_background;
                bottom: -300px;
                transform:rotate(25deg);
                left:-200px;
            }
        }
        .bg_video{
           min-width:100vw;
           min-height:100vh;
           position: fixed;
           z-index: -22;
           top:0;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .home {
        .home_background {
            .triangle_at_corner {
                height: 400px;
                bottom: -250px;
                left: -150px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .home {
        min-height: 100vh;
        
        .home_background {
            .triangle_at_corner {
                height: 350px;
                bottom: -200px;
                left: -100px;
                transform: rotate(20deg);
            }
        }
        
        .bg_video {
            object-fit: cover;
        }
    }
}

@media only screen and (max-width: 600px) {
    .home {
        .home_background {
            .triangle_at_corner {
                height: 300px;
                bottom: -180px;
                left: -80px;
                transform: rotate(18deg);
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .home {
        .home_background {
            .triangle_at_corner {
                height: 250px;
                bottom: -150px;
                left: -50px;
                transform: rotate(15deg);
            }
        }
    }
}