@import './utills.scss';

    body{
    // overflow: hidden;
    .home{
        min-height: 100vh;
        @include  display_as_column();
        .home_background{
            position:absolute;
            background:$dark_primary_background;
            width:100vw;
            height:100vh;
            z-index:-1;
            .triangle_at_corner{
                position: absolute;
                width:100vw;
                height:500px;
                background:$primary_background;
                bottom: -300px;
                transform:rotate(25deg);
                left:-200px;
            }
        }
    }
}

@media only screen and (max-width:800px){
    .home_background{
        .triangle_at_corner{
            top: 500px;
            left:0;
        }
    }
}