@import './utills.scss';

.next_page {
    position:fixed;
    bottom:50px;
    right:50px;
    background-color: $dark_primary_background;
    width:55px;
    height: 55px;
    overflow: hidden;
    @include display_as_row_center();
    border-radius: 50%;
    border:5px solid rgba(255, 255, 255, 0.73); 
    cursor: pointer;
    box-shadow:2px 2px 10px 2px $navbar_profile_pic_border;
    animation: animateArrow 1s infinite linear;
    i{
        color:white;
        font-size:25px;
        
    }
}


@keyframes animateArrow {
    0%{
        box-shadow:2px 2px 10px 2px $navbar_profile_pic_border;
    }

    50%{
        box-shadow:-2px -2px 10px 2px $navbar_profile_pic_border;
    }

    100%{
        box-shadow:2px 2px 10px 2px $navbar_profile_pic_border;
    }
}