@import './utills.scss';

.skills{
    // overflow:scroll;
    overflow-x: hidden;
    background:$primary_background;
    // width:100vw;
    min-height:100vh;
    .skills_container{
        // min-height: 100vh;
        color:$primary_text;
        @include display_as_row();
        align-content: center;
        justify-content: center;

        flex-wrap: wrap;
        // height:100%;
        .skill_container{
            max-width:900px;
            padding:20px;
            // height:280px;
            margin:10px;
        background:$dark_primary_background;
        border-radius: 4px;

            @include display_as_column_center();
            .skill_primary{
                text-align: center;
                font-size: 20px;
                color:$navbar_profile_pic_border;
                padding:10px;
                font-weight: 500;
            }
            .skill_secondry{
                @include display_as_row_center();
                // width:300px;
                flex-wrap:wrap;
                p{
                    @include display_as_row_center();
                    background:$primary_background;
                    text-shadow: 2px 2px 5px $secondry_text;
                    padding:3px 20px;
                    margin:5px;
                    border-radius:3px;
                }
            }
        }
        
    }
}

@media only screen and (max-width:1065px){
    .skills{   

        .skills_container{

            .skill_container{
                width:40vw;
            }
        }
    }
}
@media only screen and (max-width:740px){
    .skills{
        .skills_container{
            .skill_container{
                width:70vw;
            }
        }
    }
}
@media only screen and (max-width:500px){
    .skills{
        .skills_container{
            .skill_container{
                width:80vw;
            }
        }
    }
}

@media only screen and (max-width:400px){
    .skills{
        .skills_container{
            margin:3px;
            .skill_container{
                
                width:90vw;
                height:35vh;
                .skill_primary{
                    padding:0px;
                }
                .skill_secondry{
                    font-size: 15px;
                }

            }
        }
    }
}
@media only screen and (max-width:300px){
    .skills{
        .skills_container{
            .skill_container{
                
                width:100vw;
                height:35vh;
                margin-bottom:3px;

                .skill_primary{
                    padding:0px;
                }
                .skill_secondry{
                    font-size: 13px;
                }

            }
        }
    }
}